p {
    text-align: right;
}
/* used the classes in css to hide or show certain things */
.hide{
    display:none;
  }
.show{
    display:block;
}
body {
    background-color: rgb(190, 190, 190);
}
.button {
    color: red;
}
